<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/public/css/jass.css">
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <h1 class="btn">Tech Blog</h1>
            <a href="/" class="btn btn-link">HOME</a>
            <a href="/dashboard" class="btn btn-link">DASHBOARD</a>
            {{#if logged_out}}
            <a href="/login" class="btn btn-link" id="login">LOGIN</a>
            {{/if}}
            {{#if logged_in}}
            <button class="btn" id="logout">LOGOUT</button>
            {{/if}}

        </section>
    </header>
    <main>
        {{{body}}}
    </main>
    <!--log out script linked-->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>


</html>