<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <!--Custom CSS-->
    <link rel="stylesheet" href="./css/jass.css">
    <!--SPECTRE.CSS LINKS-->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>

    <!--HEADER-->
    <header class="navbar m-2 ">
        <section class="navbar-section">
            <a href="/" class="btn btn-link">HOME</a>
            <a href="/dashboard" class="btn btn-link">DASHBOARD</a>
        </section>
        <section class="navbar-center">
            <h1>Tech Blog</h1>
        </section>
        <section class="navbar-section">
                <button href="/login" class="btn" id="login">LOGIN</button>
            <!--{{#if logged_in}}
                <button class="btn" id="logout">LOGOUT</button>
            {{/if}}-->
        </section>
    </header>

    <!--MAIN-->
    <main class="m-1">
        {{{body}}}
    </main>

    <!--FOOTER-->
    <footer>
        <div class="bg-primary"></div>
    </footer>


    <!--log out script linked-->
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>

</html>