<div>
    <h1>
        Check out our 
    </h1>

    <div>
        <a href="/blogpost">{{#each realData}}
        <h1>
            {{username}}
        </h1>
        {{/each}}
        </a>

    </div>
</div>