<div class="columns m-2">
    <div class="column col-6 login-form">
        <!--LOGIN FORM-->
        <div class="form-group">
            <h2>Login:</h2>
            <div class="input-group">
                <span class="input-group-addon username-login">Enter Username:</span>
                <input class="form-input username-login" type="text" id="username-login" />
            </div>
            <div class="input-group">
                <span class="input-group-addon password-login">Enter Password:</span>
                <input class="form-input password-login" type="text" id="password-login" />
                <button class="btn btn-primary input-group-btn login-btn">Login</button>
            </div>
        </div>
    </div>
    <div class="divider-vert" data-content="OR"></div>
    <div class="column signup-form">
        <!--SIGN-UP FORM-->
        <div class="form-group">
            <h2>Sign-Up Below:</h2>
            <div class="input-group">
                <span class="input-group-addon createusername">Create Username:</span>
                <input class="form-input username-login" type="text" id="createusername" />
            </div>
            <div class="input-group">
                <span class="input-group-addon createpassword">Create Password:</span>
                <input class="form-input password-login" type="text" id="createpassword" />
                <button class="btn btn-primary input-group-btn sign-up-btn">Sign Up!</button>
            </div>
        </div>
    </div>
</div>