<div class="columns m-2">
    <!--LOGIN FORM-->
    <form class="column login-form">
        <div class="form-group">
            <h2>Login:</h2>
            <div class="input-group">
                <span class="input-group-addon username-login">Enter Username:</span>
                <input class="form-input username-login" type="text" id="username-login"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon password-login">Enter Password:</span>
                <input class="form-input password-login" type="text" id="password-login"/>
                <button class="btn btn-primary input-group-btn login-btn submit">Login</button>
            </div>
        </div>
    </form>
    <div class="divider-vert" data-content="OR"></div>
    <!--SIGN-UP FORM-->
    <form class="column signup-form">
        <div class="form-group">
            <h2>Sign-Up Below:</h2>
            <div class="input-group">
                <span class="input-group-addon username-signup">Create Username:</span>
                <input class="form-input username-login" type="text" id="username-signup" />
            </div>
            <div class="input-group">
                <span class="input-group-addon password-signup">Create Password:</span>
                <input class="form-input password-login" type="text" id="password-signup" />
                <button class="btn btn-primary input-group-btn sign-up-btn submit">Sign Up!</button>
            </div>
        </div>
    </form>
</div>
<!--CONNECTING LOGIN.JS-->
<script src="./js/login.js"></script>