<div class="columns loginpage">
    <!--LOGIN FORM-->
    <div class="column login-form">
        <div class="header">
            <h2>Login Below</h2>
        </div>
        <form action="./login" method="POST" class="loginform">
            <!-- Username field -->
            <label class="input-group-addon login">Enter Username:</label>
            <input class="form-input login" type="text" id="username" />

            <label class="input-group-addon login">Enter Password:</label>
            <!-- Password field -->
            <input class="form-input password-input login" type="password" id="password" />
            <!-- An element to toggle between password visibility -->
            <label class="form-switch login">
                <input type="checkbox" onclick="passwordFunction()">
                <i class="form-icon"></i> Show Password
            </label>
        </form>
        <!--LOGIN BUTTON-->
        <a href="/dashboard">
            <button class="btn btn-primary input-group-btn login-btn submit" type="submit">Login</button>
        </a>
    </div>
    <!--DIVIDER-->
    <div class="divider-vert" data-content="OR"></div>

    <!--SIGN-UP LINK-->
    <div class="column">
        <div class="header">
            <h2>New here?</h2>
        </div>
        <a href="/signup">
            <button class="btn btn-primary input-group-btn sign-up-btn submit">Sign Up!</button>
        </a>
    </div>
</div>
<!--CONNECTING LOGIN.JS-->
<script src="./js/login.js"></script>
<!--CONNECTING PASSWORD.JS-->
<script src="../utils/password.js"></script>