<!--LOGIN FORM-->
<div class="form-group login">
    <h2>Login:</h2>
    <label class="form-label" for="enterusername">Username:</label>
    <input class="form-input" type="text" id="enterusername" />
    <div class="input-group">
        <span class="input-group-addon">Enter Password:</span>
        <input class="form-input" type="text" id="input-example-1" />
        <button class="btn btn-primary input-group-btn login-btn">Login</button>
    </div>
</div>
<!--SIGN-UP FORM-->
<div class="form-group sign-up">
    <h2>Sign-Up Below:</h2>
    <label class="form-label" for="createusername">Create Username:</label>
    <input class="form-input" type="text" id="createusername" />
    <div class="input-group">
        <span class="input-group-addon">Create Password:</span>
        <input class="form-input" type="text" id="createpasswrod" />
        <button class="btn btn-primary input-group-btn sign-up-btn">Sign Up!</button>
    </div>
</div>