<div class="columns m-2">
    <div class="column col-6">
        <!--LOGIN FORM-->
        <div class="form-group login-form">
            <h2>Login:</h2>
            <div class="input-group">
                <span class="input-group-addon enterusername">Enter Username:</span>
                <input class="form-input username-login" type="text" id="enterusername" />
            </div>
            <div class="input-group">
                <span class="input-group-addon enterpassword">Enter Password:</span>
                <input class="form-input password-login" type="text" id="enterpassword" />
                <button class="btn btn-primary input-group-btn login-btn">Login</button>
            </div>
        </div>
    </div>
    <div class="divider-vert" data-content="OR"></div>
    <div class="column">
        <!--SIGN-UP FORM-->
        <div class="form-group sign-up">
            <h2>Sign-Up Below:</h2>
            <div class="input-group">
                <span class="input-group-addon createusername">Create Username:</span>
                <input class="form-input username-login" type="text" id="createusername" />
            </div>
            <div class="input-group">
                <span class="input-group-addon createpassword">Create Password:</span>
                <input class="form-input password-login" type="text" id="createpassword" />
                <button class="btn btn-primary input-group-btn sign-up-btn">Sign Up!</button>
            </div>
        </div>
    </div>
</div>