<!--SIGN-UP FORM-->
<div class="column signup-form">
    <div class="header">
        <h2>Sign-Up Below:</h2>
    </div>
    <form class="signupform">
        <!-- Username -->
        <label class="input-group-addon signup">Create Username:</label>
        <input class="form-input signup" type="text" id="username" />
        <!-- Password -->
        <label class="input-group-addon signup">Create Password:</label>
        <input class="form-input signup" type="password" id="password" />
        <!-- An element to toggle between password visibility -->
        <label class="form-switch signup">
            <input type="checkbox" onclick="passwordSignUpFunction()">
            <i class="form-icon"></i> Show Password
        </label>
    </form>
    <!--SUBMIT BUTTON-->
    <a href="/login">
        <button class="btn btn-primary input-group-btn sign-up-btn signup submit" type="submit">Sign Up!</button>
    </a>
</div>

<!--CONNECTING LOGIN.JS-->
<script src="./js/login.js"></script>
<!--CONNECTING PASSWORD.JS-->
<script src="../utils/password.js"></script>